# Бэк (api)
DATABASE_URL=sqlite:///./data/local.db
# DATABASE_URL=postgresql+psycopg://vlad:vlad@postgres:5432/vlad   # для этапа 2

# путь к эфемеридам Swiss Ephemeris (внутри контейнера)
SWE_EPHE_PATH=./ephe

# CORS для фронта
CORS_ORIGINS=http://localhost:3000

# Фронт (web)
NUXT_PUBLIC_API_BASE=http://localhost:8000
