# Бэк (api)
DATABASE_URL=sqlite:///./data/local.db
# DATABASE_URL=postgresql+psycopg://vlad:vlad@postgres:5432/vlad   # для этапа 2

# путь к эфемеридам Swiss Ephemeris (внутри контейнера)
SWE_EPHE_PATH=./ephe

# CORS для фронта
CORS_ORIGINS=http://localhost:3100

# Фронт (web)
NUXT_PUBLIC_API_BASE=http://localhost:8100
# SSR-обращения изнутри docker-сети (имя сервиса 'api' + внутренний порт 8000)
NUXT_API_BASE_SERVER=http://api:8000
